{% extends 'bootstrap/base.html' %}

    {% block title %}
      {% if title %} {{ title }}
      {% else %} Election Records {% endif %}
    {% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('index') }}">Election Records In Blockchain</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('index') }}">Home</a></li>

                </ul>

            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {% block app_content %}{% endblock %}
    </div>

    {% block footer %}

    <footer class="footer">
        <div class="container" align="center">
            <br>

            <span class="text-muted grey-text text-darken-4">&copy; Powered by </span>
            <span class="black-text text-darken-4" style='font-size:18px'>Ethereum </span>
            <i class="fab fa-ethereum" style='font-size:18px'></i>
            <span class="black-text text-darken-4" style='font-size:18px'> + Flask + web3Py</span>

            <i class="fab fa-ethereum"></i>
        </div>

    </footer>
    {% endblock footer %}
{% endblock %}

{% block scripts %}
<script src='https://kit.fontawesome.com/a076d05399.js'></script>
{{super()}}
{% endblock %}

{% block styles %}
{{super()}}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css" rel="stylesheet">
{% endblock %}
