

{% macro all_links(partyName=None) %}
{% if partyName == "p2" %}
{% set recordNo=2 %}
{% else %}
{% set recordNo=1 %}
{% endif %}


<div class="btn-group" role="group" aria-label="...">
    <button type="button" class="btn btn-default">
        <a href = "{{ url_for('index') }}"><span class="glyphicon glyphicon-plus"></span> Index </a>
    </button>
    <button type="button" class="btn btn-default">
        <a href = "{{ url_for('openingBalance', recordNo=recordNo) }}"><span class="glyphicon glyphicon-gift"></span> Opening Balance </a>
    </button>
    <button type="button" class="btn btn-default">
        <a href = "{{ url_for('grossExpense', recordNo=recordNo) }}"><span class="glyphicon glyphicon-sunglasses"></span> Gross Expense </a>
    </button>
    <button type="button" class="btn btn-default">
        <a href = "{{ url_for('travelExpense', recordNo=recordNo) }}"><span class="glyphicon glyphicon-sunglasses"></span> Travel Expense </a>
    </button>
    <button type="button" class="btn btn-default">
        <a href = "{{ url_for('mediaExpense', recordNo=recordNo) }}"><span class="glyphicon glyphicon-sunglasses"></span> Media Expense </a>
    </button>
    <button type="button" class="btn btn-default">
        <a href = "{{ url_for('publicityExpense', recordNo=recordNo) }}"><span class="glyphicon glyphicon-sunglasses"></span> Publicity Expense </a>
    </button>
    <button type="button" class="btn btn-default">
        <a href = "{{ url_for('publicMeeting', recordNo=recordNo) }}"><span class="glyphicon glyphicon-sunglasses"></span> Public Meeting </a>
    </button>
</div>
{% endmacro %}


{% macro add_record_links(is_admin=False) %}

{% if is_admin == True %}
<div class="btn-group">
    <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Add Election Records <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li>    <a href = "{{ url_for('addElectionRecord') }}"><span class="glyphicon glyphicon-plus"></span> Add New Election Campaign Record </a>
        </li>
        <li>    <a href = "{{ url_for('updateOpeningBankBalance') }}"><span class="glyphicon glyphicon-plus"></span> Update OpeningBankBalance </a>
        </li>
        <li>    <a href = "{{ url_for('addGrossReceipt') }}"><span class="glyphicon glyphicon-gift"></span> Add Gross Receipt </a>
        </li>
        <li>    <a href = "{{ url_for('addGrossExpenditure') }}"><span class="glyphicon glyphicon-sunglasses"></span> Add Gross Expenditure </a>
        </li>
        <li>    <a href = "{{ url_for('addExpensesOnMediaAd') }}"><span class="glyphicon glyphicon-sunglasses"></span> Add Expenses MediaAd </a>
        </li>
        <li>    <a href = "{{ url_for('addExpensesOnPublicityMaterial') }}"><span class="glyphicon glyphicon-sunglasses"></span> Add Expenses Publicity Material</a>
        </li>
        <li>    <a href = "{{ url_for('addExpensesOnPublicMeetings') }}"><span class="glyphicon glyphicon-sunglasses"></span> Add Expenses Public Meetings </a>
        </li>
    </ul>
  </div>
  <br>
  {% endif %}
{% endmacro %}

{% macro party_name(partyName) %}
<h3 class="text-danger"><span class="glyphicon glyphicon-globe"></span> Political Party: </h3>
<h3>{{ partyName }}</h3>

{% endmacro %}
