

{% macro all_links(partyName=None) %}
{% if partyName == "p2" %}
{% set recordNo=2 %}
{% else %}
{% set recordNo=1 %}
{% endif %}


<div class="btn-group" role="group" aria-label="...">
    <button type="button" class="btn btn-default">
        <a href = "{{ url_for('index') }}"><span class="glyphicon glyphicon-plus"></span> Index </a>
    </button>
    <button type="button" class="btn btn-default">
        <a href = "{{ url_for('openingBalance', recordNo=recordNo) }}"><span class="glyphicon glyphicon-gift"></span> Opening Balance </a>
    </button>
    <button type="button" class="btn btn-default">
        <a href = "{{ url_for('grossExpense', recordNo=recordNo) }}"><span class="glyphicon glyphicon-sunglasses"></span> Gross Expense </a>
    </button>
    <button type="button" class="btn btn-default">
        <a href = "{{ url_for('travelExpense', recordNo=recordNo) }}"><span class="glyphicon glyphicon-sunglasses"></span> Travel Expense </a>
    </button>
    <button type="button" class="btn btn-default">
        <a href = "{{ url_for('mediaExpense', recordNo=recordNo) }}"><span class="glyphicon glyphicon-sunglasses"></span> Media Expense </a>
    </button>
    <button type="button" class="btn btn-default">
        <a href = "{{ url_for('publicityExpense', recordNo=recordNo) }}"><span class="glyphicon glyphicon-sunglasses"></span> Publicity Expense </a>
    </button>
    <button type="button" class="btn btn-default">
        <a href = "{{ url_for('publicMeeting', recordNo=recordNo) }}"><span class="glyphicon glyphicon-sunglasses"></span> Public Meeting </a>
    </button>
</div>
{% endmacro %}

{% macro party_name(partyName) %}
<h3 class="text-danger"><span class="glyphicon glyphicon-globe"></span> Political Party: </h3>
<h3>{{ partyName }}</h3>

{% endmacro %}
