{% extends "base.html" %}
{% from 'macros.html' import all_links, party_name %}

{% block app_content %}

    <!--<p>{{ openingBalance }}</p>-->
    {{ party_name(party) }}
    <h3>Cash: <i class="fa fa-rupee"></i> {{ openingBalance.opening_balance.cash }}</h3>
    <h3>Other Deposits: <i class="fa fa-rupee"></i> {{ openingBalance.opening_balance.other_deposits }}</h3>
    {% set total = namespace(value=0) %}
    <h3 class="text-danger"><span class="glyphicon glyphicon-th-list"></span> Bank Balances:</h3>
    {% if openingBalance.opening_balance.bank_balances|length > 1 %}
    <table class="table table-striped table-bordered table-hover">
        <thead>
           <tr>
            <th>Bank Name</th>
            <th>Amount </th>
           </tr>
        </thead>

        <tbody>
            {% for p in openingBalance.opening_balance.bank_balances %}
              <tr>
                <td>{{ p.bank_name }}</td>
                <td><i class="fa fa-rupee"></i> {{ p.amount }}</td>
                {% set total.value = total.value + p.amount %}
              </tr>
            {% endfor %}

        </tbody>
     </table>
     {% else %}
    <div class = "well"><h4>No data found!</h4></div>

    {% endif %}

     <blockquote>Total Amount: <i class="fa fa-rupee"></i> {{ total.value }}</blockquote>

    {{ all_links(recordNo) }}

{% endblock %}

