{% extends "base.html" %}
{% from 'macros.html' import all_links, party_name %}

{% block app_content %}


    <!--<p>{{ travelExpense }}</p> -->
    {{ party_name(party) }}

    <h3 class="text-danger"><span class="glyphicon glyphicon-th-list"></span> Travel Expenses:</h3>
    {% set total = namespace(value=0) %}
    <table class="table table-striped table-bordered table-hover">
        <thead>
           <tr>
            <th>Id</th>
            <th>State </th>
            <th>Date Of Meeting</th>
            <th>Star Campaigners</th>
            <th>Mode of Travel </th>
            <th>Name of Aircraft Payee</th>
            <th>Total Expenses </th>
           </tr>
        </thead>

        <tbody>
            {% for p in travelExpense.travel_expenses %}
              <tr>
                <td>{{ p.id }}</td>
                <td>{{ p.state }}</td>
                <td>{{ p.date_of_meeting }}</td>
                <td>{% for x in p.star_campaigners %} {{ x }} {% endfor %}</td>
                <td>{{ p.mode_of_travel }}</td>
                <td>{{ p.name_of_aircraft_payee }}</td>
                <td><i class="fa fa-rupee"></i> {{ p.total_expenses }}</td>
                {% set total.value = total.value + p.total_expenses %}
              </tr>
            {% endfor %}
        </tbody>
     </table>
     <blockquote>Total Amount: <i class="fa fa-rupee"></i> {{ total.value }}</blockquote>

    {{ all_links(recordNo) }}


{% endblock %}

